footer{
    width: 100%;    
    height: 200px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
footer ul{
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;   
}
footer li{
    display: flex;    
}
.footer--section-upper{
    width: 80%;
    height: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: italic;
}

/* Iconos social media */

.footer--section-right .linkedin-icon{
    background-image: url(https://bl3302files.storage.live.com/y4mOclQgg2rk-Pk-CAYE_mwJIWUzoL3Ew8VlvzXKMCyH3NKmMkoJq-ATdnG42pVGZxL1HvG-5GiC-8j1tP_Erj67GjIC30FzYbslgqC6KCI2zyQN4s6VahIHFP7tV8xCJNfEE5iJrlG8iXY5-ptHlSX40jA7dCQcESFOKkn6FP0OevVgXMd11coY38PViAB7zHD?width=243&height=243&cropmode=none);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 50px;
    height: 50px;   
}

.footer--section-right .github-icon{
    background-image: url(https://bl3302files.storage.live.com/y4mMQmbvt1QNSaz_Bc39QoELBtHHQ_KKMcujUwP1I_CLj5iK6wy3ruddt3xWDIgQRwupDJxXupw637od6PMzjCz5-2r8QK6z-YgUrXPzV2KA6QCXcIXQoJSk9jfUQ-JXpTTSxx-XQRPwIyzu8QuQNXmp-ikFQp5lBGrf8RQ14FUBO6EdyW5wJwW-z9FsJTnxBAz?width=243&height=243&cropmode=none);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

footer .footer--section-right .twitter-icon{
    background-image: url(https://bl3302files.storage.live.com/y4mFu6o72djXgPbOtl70EtZdaYrFx1yWjDr478HiGDvHEaoltr_TwoEVPKrPt8xSv8qNp0o6SH5rkx_l5q_1RFGGvPY3jooPksh0DOkCNYzax6tENUvfjZwtlbE45EU9_6Hz9rFQtW-xU-wF8iritSecK5Dsd-oUKMUCYvc0KmhjJB6zAukgtFwB3wdyb8Jdbu3?width=243&height=243&cropmode=none);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

/* Animaciones iconos social media */

.footer--section-right .linkedin-icon:hover{
    
    box-shadow: 0px 0px 10px 2px rgb(202, 202, 202);
    border-radius: 60px;
    background-color: rgb(202, 202, 202);
}
.footer--section-right .twitter-icon:hover{
    
    box-shadow: 0px 0px 10px 2px rgb(202, 202, 202);
    border-radius: 60px;
    background-color: rgb(202, 202, 202);
}
.footer--section-right .github-icon:hover{
    
    box-shadow: 0px 0px 10px 2px rgb(202, 202, 202);
    border-radius: 60px;
    background-color: rgb(202, 202, 202);
}