:root{
    --wine: #4B1A27;
    --gray: #C4C1C6;
    --soft-gray: #ebeaef;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(231, 231, 231);
}

a {
    text-decoration: none;
    cursor: pointer;
}



header{
    position: relative;
    width: 100%;
    min-width: 70px;
    height: 60px;
    
 }
header nav{
    display: flex;
    box-shadow: 0 1px 10px gray;
    justify-content: flex-end;
    background-color:white;
}
 nav .nav--right-section{
     font-size: 14px;
     font-weight: 500;
     align-items: center;
     width: auto;
     height: 50px;
     display: inline-flex;
     list-style: none; 
}
nav .nav--right-section a{
    color: grey;
    margin: 0px 10px 0px 10px;
}

main{
    width: 100%;
    height: 400px;
    
}



footer{
    width: 100%;    
    height: 200px;
    margin-top: 500px;
    text-align: right;
    position: absolute;
    bottom: 0;
    
}
footer section{
    display: flex;
    justify-content: flex-end;

}

.footer--section-right ul{
    justify-self: right;
    display: inline-flex;
    list-style: none;
}

.footer--section-right a{
    margin: 0px 10px 0px 10px;
}
