:root{
    --wine: #4B1A27;
    --gray: #C4C1C6;
    --soft-gray: #ebeaef;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}



header{
    width: 100%;
    min-width: 70px;
    height: 60px;
    
 }


header nav{
    display: flex;
    box-shadow: 0 1px 10px gray;
    justify-content: flex-end;
}

 nav .nav--right-section{
     font-size: 14px;
     font-weight: 500;
     align-items: center;
     width: auto;
     height: 50px;
     display: inline-flex;
     list-style: none; 
}
nav .nav--right-section a{
    color: grey;
    margin: 0px 10px 0px 10px;
}


main{
    width: 100%;
    margin-top: 50px; 
    text-align: justify;
    font-size: 13px;
    
}
main .main--section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

h1{
    font-size: 35px;
}

main .main--section-description{
    width: 80%;
    /*border: 1px solid #4B1A27;*/
}
main .main--section-description p{
    margin: 5px 10px 5px 10px;
}




footer{
    margin-top: 50px;
    text-align: right;
}
footer section{
    display: flex;
    justify-content: flex-end;
}

.footer--section-right ul{
    justify-self: right;
    display: inline-flex;
    list-style: none;
}

.footer--section-right a{
    margin: 0px 10px 0px 10px;
}
