*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    color: rgb(43, 43, 43);
    flex-direction: column;
}
.hero{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.hero-nav{
  width: 100%;
  height: 40px;
  /* background-color: blue; */
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(129, 215, 221);
}

.hero-nav-button{
  /* background-color: khaki; */
  width: 320px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-main{
  /* background-color: greenyellow; */
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  background-color: rgb(129, 215, 221);
}

.hero-container{
  /* background-color: hotpink; */
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-container p{
  margin: 10px;
}
.hero-container .p1{
  font-size: 2rem;
  font-weight: 600;
}
.hero-container .p2{
  font-size: 1.4rem;
  font-weight: 600;
}
.hero-container .p3{
  font-size: 3rem;
  font-weight: 800;
}
.hero-container .p4{
  font-size: 1.4rem;
}


.hero-button{
  /* background-color: indigo; */
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button button{
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -4.2vh;
  border-radius: 8px;
  background-color: white;
  border: none;
}

.hero-button button:hover{
  box-shadow: 0px 0px 3px 1px rgba(43,43,43,.16);
}

.hero-button a{
  text-decoration: none;
}

.hero-button span{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: url(https://bl3302files.storage.live.com/y4mKPG7ELsnpd8Anw_jhstMZTbD6ERCxvxLDShPYIenNCwDkxhBjEOPXbA1z5enXSnBptIP1ZT_4TF_SV8hTpfuVDCJP_lzF0DpzOAOHfC29-gU8SxKHj2NfK5d6xD3XofYvWTcSN2RSIDrd7D46sr_a7xP3gspCtA3y43kFEeRphcnYOBLHHvKVH-YyTx7ayBh?width=16&height=16&cropmode=none);
  background-repeat: no-repeat;
}