:root{
  --hero-background: #4BAEA0;
  --hero-text: #F2F1EF;
  --main-background: #EEEEEE;
  --second-background:#D9E4EC;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    scroll-behavior: smooth;
    background-color: var(--main-background);
    flex-direction: column;

}

a{
  text-decoration: none;
  text-transform: none;
  transform: .5s;
}
ul{
  list-style: none;
}

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--hero-text);
  perspective: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.hero::-webkit-scrollbar{
  display: none;
}
.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;

}
.small{
  width: 30vw;
  height: 30vw;
  left: -10vw;
  bottom: 15vh;
  opacity: .2;
}
.medium{
  width: 40vw;
  height: 40vw;
  left: -15vw;
  bottom: 12vh;
}
.large{
  width: 60vw;
  height: 60vw;
  right: 0vw;
  top: 20vh;
}
.xlarge{
  width: 80vw;
  height: 80vw;
  right: -10vw;
  top: 15vh;
}
.content{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shade1{
  opacity: .2;
}
.shade2{
  opacity: .5;
}
.shade3{
  opacity: .3;
}
.shade4{
  opacity: .4;
}

@keyframes ripple{
  0%{transform: scale(.7);;}
  50%{transform:scale(1.1);}
  100%{transform: scale(.7);}

}

.hero-bg{
  align-items: center;
  background: linear-gradient(var(--hero-background),var(--hero-background), var(--main-background));
  width: 100%;
  height: 100vh;
  transform: translateZ(1px) scale(1);
}
.hero-container{
  /* background-color: hotpink; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transform: translateZ(5px) scale(.375);
}

.hero-nav{
  width: 100%;
  height: 80px;
  display: flex;
  /* Cambiar este dato para tablet */
  justify-content: center; 
  align-items: center;
  top:0;
  /* background-color: yellow; */
}
.hero-button a{
  color: black;
}

.hero-nav-button{
   /* background-color: khaki;   */
  width: 90vw;
  height: 40px;
  
  display: flex;
  /* este cambia en tablet */
  justify-content: center;
  align-items: center;
}

.hero-nav-button a{
  width: 30px;
  height: 30px;
  background-size: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 15px;  
  transition: transform 1.3s;
}

.linkedin-icon{
  background-image: url(https://bl3302files.storage.live.com/y4mK6cOWbltKGJIwzmXzY10CTt5iW6CEGRce-OjoiO2465hAsEdg500pkQfppb3mzz7WRv1M1qQPB6ywPbY-xeVWLT_M_fCkj8cmJyf-Jq_eTyPD-tYDmfHBLC_CBx9E-nBhLaRYlAyYB0GvrFhWuinL1ozuOrC5Y3iQiCz4stUxRxxiH3YJrfBR88dkOFT1OMq?width=244&height=244&cropmode=none);
  background-repeat: no-repeat;
}
.twitter-icon{
  background-image: url(https://bl3302files.storage.live.com/y4mw8warQ4QllQ3KNfT4NmRdkHkNS4nv0PoYxKs77joKIzVSvf9qaZ4zI9dERFEcr42WStKZFKh6bm8Jswv6feRm1J4246T5rN43WeuQBYDVEsrq7CRQxLwFxXe0POPrnc7p9pXlzkiQW-R0cFzCNeudmOh93XbDbRMSYcfc70ZaOASExlr3waF7rwoukCmbRnU?width=244&height=244&cropmode=none);
  background-repeat: no-repeat;
}
.github-icon{
  background-image: url(https://bl3302files.storage.live.com/y4maexLlMEz1WqXGHJmQiAjHCpSW3v5zWOkD10qc76FTPJdv6rjAqz1fkZNVQcVfGqvP0_suMNzmbxxmoWVDUqqQZqPhHyR0uGXeWREBkPw8CDSLRvTvQLgG8oNMZfrkPW-oCI48qXofhAu_fheB1cU53MbPFceXGg-jugk2_RipuiDmHm2CdIGJ-2p5HR0M8t2?width=243&height=243&cropmode=none);
  background-repeat: no-repeat;
}
.hero-nav-button a:hover{
  transform: scale(1.3);
  transition: transform .6s;
}

.hero-main{
  /* background-color: greenyellow; */
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero-content{
  /* background-color: lightsalmon; */
  display: flex;
  flex-direction: column;
  left: 10vw;
}
.hero-content p{
  margin: 15px;
  /* background-color: yellow; */
}
.hero-content .p1{
  font-size: 2rem;
  font-weight: 600;
}
.hero-content .p2{
  font-size: 1.4rem;
  font-weight: 600;
}
.hero-content .p3{
  font-size: 3rem;
  font-weight: 800;
}
.hero-content .p4{
  font-size: 1.4rem;
}


.hero-button{
  /* background-color: indigo;  */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0px;
}

.hero-button .button{
  width: 250px;
  height: 60px;
  padding: 5px 10px;
  display: flex;

  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background-color: white;
  border: none;
  transition: .3s ease 0s;
  font-size: 1.4rem;
  font-weight: 600;
}
 
.hero-button .button span{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: url(https://bl3302files.storage.live.com/y4mKPG7ELsnpd8Anw_jhstMZTbD6ERCxvxLDShPYIenNCwDkxhBjEOPXbA1z5enXSnBptIP1ZT_4TF_SV8hTpfuVDCJP_lzF0DpzOAOHfC29-gU8SxKHj2NfK5d6xD3XofYvWTcSN2RSIDrd7D46sr_a7xP3gspCtA3y43kFEeRphcnYOBLHHvKVH-YyTx7ayBh?width=16&height=16&cropmode=none);
  background-repeat: no-repeat;
} 
.hero-button .button:hover{
  box-shadow: 0px 0px 3px 1px rgba(43,43,43,.16);
  border-radius: 40px;
  font-size: 1.5rem;
}


/* Header */

header{
  width: 100%;
  height: 45px;
  /* background-color: red; */
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(43,43,43,.16);
  backdrop-filter: blur(5px);
}

.header-container{
  width: 95vw;
  height: 30px;
  /* background-color: thistle; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container-left{
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  /* background-color: violet; */
  font-size: 1.2rem;
  font-weight: 800;
}
.header-container-right{
  width: 30vh;
  display: flex;
  justify-content: flex-end;
  /* background-color: yellowgreen; */
}

/* Main */

main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* background-color: blue; */
}
.divider{
  width: 100%;
  height: 45px;
  /* background-color: red; */
}
.main-section{
  /* background-color: blue; */
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem; 
}
.main-description{
  order:1;
  /* background-color: red; */
  min-width: 250px;
  height: 300px;
  padding: 0px 0px 40px 0px;
  
}
.main-section h3{
  padding: 15px 0px;
}
.main-photo {
  order:2;
  /* background-color: yellow; */
  width: 30vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}