.index-body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9966), to(#fa3b3e));
  background-image: linear-gradient(to top, #ff9966, #fa3b3e);
}

main .hero .hero--title {
  margin-bottom: 50px;
  font-size: 5rem;
}
main .hero .hero--description {
  font-size: 2.2rem;
}
main .about {
  height: 70vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .blog {
  height: 60vh;
}
main .github {
  height: 40vh;
  color: black;
}
main .github__content-items {
  margin-top: 50px;
}
main .github img {
  max-width: 450px;
}
main .blog-button {
  max-width: 400px;
  font-size: 1.7rem;
}
main .social__container a {
  background-size: 80px;
}