:root{
    --wine: #4B1A27;
    --gray: #C4C1C6;
    --soft-gray: #ebeaef;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(231, 231, 231);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* TRabajand */


/* Sección del Main */

main{
    margin-top: 15px;
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.main--section-first{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main--section-second{
    height: 50px;
}

.main--section-first p{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Sección del footer */

