* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html {
  font-size: 62.5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

.divider {
  width: 100%;
  height: 75px;
}

section {
  width: 100%;
  font-family: "Spartan", sans-serif;
}

.section-title {
  width: 80%;
  max-width: 1250px;
  margin: 25px 0px;
  font-size: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
}
.section-title p {
  color: #A58FAA;
}
.section-title span {
  color: #494949;
  font-weight: 800;
}
.section-title .comma {
  color: #FF5151;
}

.blur {
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.fs-1 {
  margin: 25px 0px;
}

.fs-2 {
  margin: 20px 0px;
}

.blog-button {
  max-width: 350px;
  height: auto;
  margin: 35px 0px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: left;
  border: none;
  border-radius: 20px;
  line-height: 125%;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.507);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.507);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.8rem;
}
.blog-button p {
  font-style: italic;
  font-weight: 300;
}
.blog-button:hover {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: scale(1.048) perspective(1px);
          transform: scale(1.048) perspective(1px);
}

.git_but {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.git_but:hover {
  -webkit-transition: -webkit-transform scale(0.6);
  transition: -webkit-transform scale(0.6);
  transition: transform scale(0.6);
  transition: transform scale(0.6), -webkit-transform scale(0.6);
  -webkit-transform: scale(1.048) perspective(1px);
          transform: scale(1.048) perspective(1px);
}

.note {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.note--content {
  width: 60%;
  max-width: 800px;
  height: auto;
  padding: 20px 30px;
  border-radius: 25px;
  background-color: #d7eaf8;
}

.hero {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero .backgrnd {
  width: 100%;
  height: 80vh;
  position: absolute;
  background-image: url("https://bl3302files.storage.live.com/y4me_62yrdJf3uARwqs1uhG8fnE6zSy2xewyQYzOzdR5pKAXiQhvoPfL-J8U7Uo0xEpEW1XPX4dIjS6GfWCQ8Ki2Z6tbd10UuPPNZwu7E_INKva6sVO16QE-tIq7FM8vAyEh3__jUu7HrCk2AdHY-p6JLWiXYav-1Fnl58AAXkgv0BN0oEq7B8knLlPIVcuJaZb?width=1920&height=1278&cropmode=none");
  background-position: center;
  background-size: cover;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(2px) saturate(0.7);
          filter: blur(2px) saturate(0.7);
}
.hero-content {
  z-index: 1;
  width: 80%;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  border-left: 5px solid white;
  padding-left: 20px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  letter-spacing: 1px;
  text-shadow: 0px 0px 2px black;
}
.hero-content .hero-title {
  margin: 20px 0px;
  font-size: 6rem;
  text-shadow: 0px 0px 15px #00558d;
  letter-spacing: 3px;
  font-weight: 600;
}
.hero-content .print-hello {
  font-family: "IBM Plex Mono", monospace;
  color: white;
  font-size: 1.9rem;
  font-weight: 100;
}
.hero__social {
  width: 80%;
  height: auto;
  max-width: 1250px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 50px;
}
.hero__social ul, .hero__social li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hero__social a {
  width: 100px;
  height: 80px;
  background-size: 60px;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.hero__social a:hover {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: scale(1.2) rotate(-15deg);
          transform: scale(1.2) rotate(-15deg);
}
.hero__social .social {
  background-position: center;
  background-repeat: no-repeat;
}
.hero__social .twitter-icon {
  background-image: url("https://bl3302files.storage.live.com/y4m6v3Fm_7Z41Avv2ctiPjUHevrFrNvUAbyAw9q-QvbeiuHnrrC6DgCLSE-cvnKYWodU-kzsj8bLLz0LjwKXBFRMOPjUyUfR6upuTBxwj-dvQ7PhWex9CVNFns-A8NSioHyermFcKADkf9tR5evtl--8WWzxJp43ht-5YVGvuNV9fNCYgtjWcPnQ0wqHHWmykkR?width=244&height=244&cropmode=none");
}
.hero__social .linkedIn-icon {
  background-image: url("https://bl3302files.storage.live.com/y4m1UmzI4ffa3UJX98gH8YDDDF77Kkx3a6f-UScmHoGlTzUsu2WMARmnyrzutaTPiwFkzAOqYlpl-YslE_mPT2i0pTtl-S1AkT5PZeGJQd6jGRGMsKByCOhageYgoQLCSJRZpcShEeIfJ7KaHFGeKRUzkaCPjU58ETyeRGK8g_hppDnbpCNT_hzCK148ituzdcC?width=244&height=244&cropmode=none");
}
.hero__social .github-icon {
  background-image: url("https://bl3302files.storage.live.com/y4mU39DJn6i8CjdkCtFgZalPOzavNOaR7LGAJ6Xo908-Gk-I9KBHdkeMc_iottO_PaQEGBT-JPDk6hY6E6gFKyMiJll83xD70kzl934MWaOL6hNbfAFLVbmqv4hd1jCvWUUVeU8nKV75UBN0J7dfTG6CMvU9DSxPtmWJq3Gb8WOT2So-EjtvaVGn0KdTul5LQ7N?width=243&height=243&cropmode=none");
}

.blink {
  -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
          animation: blink-animation 1.5s steps(5, start) infinite;
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.print {
  font-size: 1.8rem;
  line-height: 250%;
  color: #DEFF8B;
  font-family: "IBM Plex Mono", monospace;
}
.print .bracket {
  color: white;
}
.print .comma {
  color: #FF5151;
}
.print .bracket-black {
  color: black;
}

header {
  position: sticky;
  top: 0;
  background-color: #f6f6f6a2;
  min-height: 75px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
}
header .navbar {
  width: 80%;
  max-width: 1250px;
  position: sticky;
  top: 0;
}
header .nav-item {
  margin: 0px 10px;
}
header .navbar-toggler {
  width: 35px;
  height: 35px;
  margin: 10px 0px;
}
header .navbar-brand {
  font-size: 2.2rem;
}

.aboutme {
  width: 100%;
  height: auto;
  margin: 25px 0px;
}

.bg-img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: clip;
  background-size: cover;
  position: absolute;
  z-index: -1;
  -webkit-filter: opacity(0.05) blur(5px) grayscale(0.7);
          filter: opacity(0.05) blur(5px) grayscale(0.7);
}
.bg-img .bg-1 {
  height: 60vh;
  position: relative;
  left: 10%;
}

.aboutme-description, .whatido {
  width: 70vw;
  margin: 25px 0px;
}
.aboutme-description .col .fs-1, .aboutme-description .col-12 .fs-1, .whatido .col .fs-1, .whatido .col-12 .fs-1 {
  font-weight: 600;
  text-transform: uppercase;
}
.aboutme-description .col .fs-2, .aboutme-description .col-12 .fs-2, .whatido .col .fs-2, .whatido .col-12 .fs-2 {
  font-weight: 200;
  letter-spacing: 1px;
  color: gray;
}
.aboutme-description .col .fs-3 span, .aboutme-description .col-12 .fs-3 span, .whatido .col .fs-3 span, .whatido .col-12 .fs-3 span {
  color: #4C4C6D;
  font-weight: 600;
}
.aboutme-description .profile-photo, .whatido .profile-photo {
  width: 250px;
  height: auto;
}

.whatido .fs-1 {
  font-weight: 600;
}
.whatido p {
  margin: 15px 0px;
}

.col-image {
  margin: 25px 0px;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.card-title {
  font-weight: 600;
}

.col-download a {
  text-decoration: none;
}
.col-download .btn {
  width: 150px;
  height: 40px;
  margin: 25px 10px;
  font-weight: 400;
  letter-spacing: 1.2px;
  border-radius: 10px;
  border: 1px solid #4C4C6D;
}
.col-download .btn-info {
  color: white;
  background-color: #4C4C6D;
}
.col-download .btn-info:hover {
  background-color: transparent;
  color: #4C4C6D;
  border: 1px solid #4C4C6D;
}
.col-download .btn-outline-info {
  color: #4C4C6D;
  border: 1px solid #4C4C6D;
}
.col-download .btn-outline-info:hover {
  color: white;
  background-color: #4C4C6D;
  border: 1px solid #4C4C6D;
}
.col-download .btn span {
  margin: 0px 10px;
}

.card .back img {
  height: 200px;
  z-index: -1;
  position: absolute;
  left: 20%;
  top: 20%;
  -webkit-filter: saturate(250%) blur(3px) opacity(0.1);
          filter: saturate(250%) blur(3px) opacity(0.1);
}

.col-card {
  margin: 15px 5px;
}
.col-card .card {
  width: 22rem;
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
}
.col-card .icons {
  display: inline-block;
  height: auto;
  margin: 5px 5px;
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}
.col-card span {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 35px;
  font-weight: 600;
}
.col-card .icons img {
  margin: 3px 3px;
  width: 35px;
  height: 35px;
}

.blog-section-content {
  background-color: blueviolet;
  width: 80%;
  height: 50vh;
  max-width: 1250px;
}

.card {
  margin: 15px 0px;
}

.carousel {
  width: 100%;
  height: auto;
}
.carousel-item {
  background-size: contain;
}

.portfolio .carousel-inner img {
  max-height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-title {
  position: absolute;
  width: 80%;
  z-index: 1;
}
.carousel-title span {
  color: white;
}

footer {
  width: 100%;
  min-height: 80px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #7e7e7e;
}
footer .btn-outline-primary {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  color: #525252;
  margin: 0px 10px;
}
footer .btn-outline-primary:hover {
  background-color: #727272;
  color: whitesmoke;
}
footer .row {
  width: 100%;
  max-width: 1250px;
}