* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html {
  font-size: 62.5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Alegreya Sans", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#74ebd5), to(#acb6e5));
  background-image: linear-gradient(to top, #74ebd5, #acb6e5);
}
html::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 2rem;
  font-weight: 200;
  -webkit-font-kerning: none;
          font-kerning: none;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: black;
}

.page-title {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  max-width: 1250px;
  font-size: 2rem;
  margin: 10px 0px;
}

.subtitles {
  margin: 0px 0px 15px 0px;
  font-size: 2rem;
}

.blog-button {
  max-width: 350px;
  height: auto;
  margin: 35px 0px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: left;
  border: none;
  border-radius: 20px;
  line-height: 125%;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.507);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(241, 241, 241, 0.747);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.8rem;
}
.blog-button p {
  font-style: italic;
  font-weight: 300;
}
.blog-button:hover {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: scale(1.048) perspective(1px);
          transform: scale(1.048) perspective(1px);
}

.git_but {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.git_but:hover {
  -webkit-transition: -webkit-transform scale(0.6);
  transition: -webkit-transform scale(0.6);
  transition: transform scale(0.6);
  transition: transform scale(0.6), -webkit-transform scale(0.6);
  -webkit-transform: scale(1.048) perspective(1px);
          transform: scale(1.048) perspective(1px);
}

.note {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.note--content {
  width: 60%;
  max-width: 800px;
  height: auto;
  padding: 20px 30px;
  border-radius: 25px;
  background-color: #d7eaf8;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px rgba(143, 143, 143, 0.24);
          box-shadow: 0px 2px 5px rgba(143, 143, 143, 0.24);
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(143, 143, 143, 0.24);
}

.nav__menu--right {
  display: none;
}

.nav__container {
  width: 90%;
  max-width: 1250px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__container--left {
  width: 240px;
  height: 40px;
  padding: 0px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__container--left .menu__ham {
  width: auto;
  height: 30px;
  text-align: left;
  position: absolute;
}
.nav__container--left .menu__ham ul {
  display: none;
  width: auto;
  margin-left: -10px;
  background-color: white;
  border: 1px solid rgba(97, 97, 97, 0.281);
  border-radius: 5px 5px 0px 0px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 98%, 40% 100%, 15% 98%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 98%, 40% 100%, 15% 98%, 0% 100%);
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}
.nav__container--left .menu__ham a {
  font-size: 2.2rem;
  font-weight: 400;
}
.nav__container--left .menu__ham input {
  display: none;
}
.nav__container--left .menu__ham input:checked ~ ul {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
}
.nav__container--left .menu__ham label {
  display: -ms-grid;
  display: grid;
  width: 30px;
  height: 30px;
  background-image: url("https://bl3302files.storage.live.com/y4m4vMoZsfxTKK1USC26_7CTBhGkHMlbkiHkgHCj6hwZb9CGl69xqBEpS8PZuvHG0Gx0MSisKFKNumFxfm3EOtSRFDjfuSMyjyo4OdxtNSKmevduig4QTFgDqqfPCLov2qimkg1jeL1YJYhrJt2XGervB22YCRWqZILTOxTcb8EVHOvz08EljnTdxF0IeO_PsDW?width=32&height=32&cropmode=none");
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
}
.nav__container--left .menu__ham label:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.3sd;
  transition: -webkit-transform 1.3sd;
  transition: transform 1.3sd;
  transition: transform 1.3sd, -webkit-transform 1.3sd;
}
.nav__container--left .menu__ham li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 5px 30px 5px 0px;
  padding: 10px;
  list-style: none;
}
.nav__container--left .menu__ham li:hover {
  text-shadow: 0px 0px 0px black;
}
.nav__container--left .page-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 50px;
  font-size: 2.2rem;
  font-weight: 800;
}
.nav__container--right, .nav__container .social__container {
  width: 90px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav__container--right ul, .nav__container .social__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.nav__container--right ul li, .nav__container .social__container ul li {
  list-style: none;
}
.nav__container--right a, .nav__container .social__container a {
  background-size: 35px;
  background-position: center;
  width: 50px;
  height: 50px;
  margin: 0px 5px 0px 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
}
.nav__container--right a:hover, .nav__container .social__container a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.nav__container--right .twitter-icon, .nav__container .social__container .twitter-icon {
  background-image: url("https://bl3302files.storage.live.com/y4mmWQCsqRKl-UcdwoPkSPUqFJbLz06EcYkFn0PPDRuVCwXIXeiyLMIbvT87VPxvqgDMM-QxRuqAhXLvB3EDN9MrMBhxgjVBt70x9cLGpX7mqhk0xoFfAPSWiCliq0B_MV6P_4h5xlG4b0MmVwxXtld5qwLi_G_LKdJE1pGgEz1qG8MJy4_gTwKT0P-aJrFwIpu?width=243&height=243&cropmode=none");
  background-repeat: no-repeat;
}
.nav__container--right .linkedin-icon, .nav__container .social__container .linkedin-icon {
  background-image: url("https://bl3302files.storage.live.com/y4mCfHMDF0KwgjatH-7FiKUIzA3QhiDbX9SgptZvWp7H73qDLsu9GhOkV3I_pH6EWntYJSsTEu2RPmukH2Hc211fmcGVwMhiluL0lJDsgX0q6pf-xdkITaXch1XPebGl9xk_DMHqkgz5aYyb0q_zku9j8ZVIT6xV0id_vSRguiZRqcnofA3AHbMyJgOdQxpaLGr?width=243&height=243&cropmode=none");
  background-repeat: no-repeat;
}
.nav__container--right .github-icon, .nav__container .social__container .github-icon {
  background-image: url("https://bl3302files.storage.live.com/y4mGfN0pLWHyS6Z9UINuzlZDzj36oVr3oH_KbKUXdR-Wn9ikChWJDFKVDIrf2BF4pNOObpuXlLUwdnguiG4FdG6KagyxTldi76bkIUVdRYd5e0dYQdAwmgECCZB1X_pnofcDsOyiKwkTSuYJMC84URyy5ZmIdCpjsOIHY8AOFA6L9bO9hDn1F71D69dbiqEbwZH?width=243&height=243&cropmode=none");
  background-repeat: no-repeat;
}

.hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__content {
  width: 80%;
  max-width: 1250px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero__content .hero--title {
  margin-bottom: 20px;
  font-size: 3.6rem;
  font-weight: 700;
  color: white;
}
.hero__content .hero--description {
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
  font-style: italic;
}

.about {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding-bottom: 50px;
}
.about__content {
  width: 80%;
  max-width: 900px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__content-title {
  width: 100%;
  height: 50px;
}
.about__content-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__content-photo {
  width: 300px;
  height: 260px;
  margin: 30px 0px;
  padding-right: 30px;
  background-image: url("https://bl3302files.storage.live.com/y4mdJCDHxjAYa3VL0klvWW89qwA2qZvZwyfAlarkfGoDi7v7Yc5WESO01na_9ZtB2lkAaLqVprJn58wN25lonIPrJHE3ds0qdwKDLuhCYzJ53GIBLvvQ0VdRAgRfDC5h1AAtQ1ck_vCrrVCxP8sySggjw65qsD2IZ84oaukfo9Yzv4UChFHFIStQeuu468Dt70c?width=171&height=256&cropmode=none");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.about__content-description {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  font-weight: 300;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.blog {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-clip-path: polygon(2% 4%, 23% 0, 61% 6%, 96% 3%, 100% 75%, 92% 97%, 46% 100%, 22% 92%, 3% 100%, 0 51%);
          clip-path: polygon(2% 4%, 23% 0, 61% 6%, 96% 3%, 100% 75%, 92% 97%, 46% 100%, 22% 92%, 3% 100%, 0 51%);
}
.blog__content {
  width: 80%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog__content-items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-row-align: center;
      align-self: center;
}

.github {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.github__content {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.github__content-items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.github__content-items a img {
  max-width: 350px;
}

.social__container {
  width: 100%;
  height: 150px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 35px 0px;
}
.social__container ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.social__container ul li {
  list-style: none;
}
.social__container a {
  background-size: 80px;
  background-position: center;
  width: 25vw;
  max-width: 300px;
  height: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
}
.social__container a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.social__container .twitter-icon {
  background-image: url("https://bl3302files.storage.live.com/y4mmWQCsqRKl-UcdwoPkSPUqFJbLz06EcYkFn0PPDRuVCwXIXeiyLMIbvT87VPxvqgDMM-QxRuqAhXLvB3EDN9MrMBhxgjVBt70x9cLGpX7mqhk0xoFfAPSWiCliq0B_MV6P_4h5xlG4b0MmVwxXtld5qwLi_G_LKdJE1pGgEz1qG8MJy4_gTwKT0P-aJrFwIpu?width=243&height=243&cropmode=none");
  background-repeat: no-repeat;
}
.social__container .linkedin-icon {
  background-image: url("https://bl3302files.storage.live.com/y4mCfHMDF0KwgjatH-7FiKUIzA3QhiDbX9SgptZvWp7H73qDLsu9GhOkV3I_pH6EWntYJSsTEu2RPmukH2Hc211fmcGVwMhiluL0lJDsgX0q6pf-xdkITaXch1XPebGl9xk_DMHqkgz5aYyb0q_zku9j8ZVIT6xV0id_vSRguiZRqcnofA3AHbMyJgOdQxpaLGr?width=243&height=243&cropmode=none");
  background-repeat: no-repeat;
}
.social__container .github-icon {
  background-image: url("https://bl3302files.storage.live.com/y4mGfN0pLWHyS6Z9UINuzlZDzj36oVr3oH_KbKUXdR-Wn9ikChWJDFKVDIrf2BF4pNOObpuXlLUwdnguiG4FdG6KagyxTldi76bkIUVdRYd5e0dYQdAwmgECCZB1X_pnofcDsOyiKwkTSuYJMC84URyy5ZmIdCpjsOIHY8AOFA6L9bO9hDn1F71D69dbiqEbwZH?width=243&height=243&cropmode=none");
  background-repeat: no-repeat;
}

footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
  position: static;
  -webkit-clip-path: polygon(0% 0%, 10% 10%, 20% 0%, 30% 10%, 40% 0%, 50% 10%, 60% 0%, 70% 10%, 80% 0, 90% 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 10% 10%, 20% 0%, 30% 10%, 40% 0%, 50% 10%, 60% 0%, 70% 10%, 80% 0, 90% 10%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -3vh;
  position: relative;
  bottom: 0;
}

.footer__content {
  width: 85%;
  max-width: 1500px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__content--left, .footer__content--right {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 300;
  color: gray;
}