.index-body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#642b73), to(#c6426e));
  background-image: linear-gradient(to top, #642b73, #c6426e);
}

body {
  font-size: 1.6rem;
}

header {
  height: 10vw;
  max-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
}
header .menu__ham {
  display: none;
}
header .nav__container--right {
  display: none;
}
header .nav__container {
  height: 6vw;
  max-height: 60px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.596);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.596);
  background-color: white;
}
header .nav__container--left {
  padding: 0px;
}
header .nav__menu--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 500px;
  height: 35px;
  margin-right: 30px;
}
header .nav__menu--right a {
  margin: 0px 10px;
  font-weight: 600;
}
header .nav__menu--right a:hover {
  text-shadow: 1px 1px 10px rgba(128, 128, 128, 0.384);
}
header .nav__menu--right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

main .about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .about__content-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .about__content-description {
  padding: 0px 15px;
}
main .about__content-photo {
  background-size: 180px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
main .blog {
  -webkit-clip-path: polygon(0% 2%, 23% 10%, 61% 1%, 100% 5%, 99% 71%, 100% 100%, 60% 97%, 24% 100%, 0% 99%, 2% 57%);
          clip-path: polygon(0% 2%, 23% 10%, 61% 1%, 100% 5%, 99% 71%, 100% 100%, 60% 97%, 24% 100%, 0% 99%, 2% 57%);
}
main .blogpage {
  width: 80%;
  max-width: 900px;
}
main .social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .social__container a {
  background-size: 60px;
  width: 30vw;
}