body .background__ {
  background-image: url("https://bl3302files.storage.live.com/y4mRoEW30QHEshBe5Zy3QMIFo_7KeuiYJD4_FPpxpFgZPEwSX1ULxd_1SxnN4br4JcfnHd7lpGF59a7nKKPj_4_ouqZtVz5XYMXj98yojpjfcU31ZLuc1HBN2ayzabsFYBZKdi3N5zgZjqBfMmVtVuJMejBPAFK4EkVIaLGi88jOzl43qXiU2JMef28OX3n-onJ?width=2400&height=1644&cropmode=none");
}

.hero__content {
  margin-top: 20px;
}

.hero__social {
  padding-bottom: 30px;
  margin-top: 15px;
}