
/* .hero-container{   
    display: flex;
    flex-direction: row;   */
}
.content{
    display: flex;
    flex-direction: row;

  }
.small{
    width: 30vw;
    height: 30vw;
    left: -10vw;
    bottom: 25vh;
    opacity: .2;
  }
  .medium{
    width: 40vw;
    height: 40vw;
    left: -15vw;
    bottom: 20vh;
  }
  .large{
    width: 45vw;
    height: 45vw;
    right: 0vw;
    top: -20vh;
  }
  .xlarge{
    width: 60vw;
    height: 60vw;
    right: -10vw;
    top: -30vh;
  }
.hero-nav-button{
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: flex-end; 
    max-width:1200px;
}

.hero-main{
    order:2;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    /* background-color: lightcoral; */
    flex-direction: row;
}
.hero-content{
    width: 600px;
    padding-left: 5vw;
    /* background-color: lightgreen; */
}
.hero-button{
    /* background-color: lightblue; */
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.hero-button .button{
    width: 180px;
    height: 40px;
}

.divider{
    height: 0px;
}

.main-section{
    display: flex;
    flex-direction: row;
}
.main-photo{
    order: 1;
    width: 30vw;
}
   

.main-description{
    order: 2;
    width: 60vw;
}
