include ../components/_mixins.pug
- var page_title = "Projects"
<!DOCTYPE html>
<html lang="en">
	head
		include ../components/_head.pug
		<meta name="robots" content="noindex,nofollow">
	<body>       
		header
			include ../components/_header.pug
	<main>

		<section class="portfolio-section">
			<div class="container-fluid d-flex justify-content-center align-items-center portfolio-hero">
				<div class="row row-hero justify-content-center">
					<div class="col-12 col-hero d-flex justify-content-center align-items-center">
					<p class="fs-1">Portfolio</p>
					</div>
					<div class="col-12 text-center">
					<p class="fs-6">Well, here are all those engineering projects in which I have participated leading, designing, or managing </p>
					</div>
					</div>
		</div>
		<div class="container-fluid projects-container d-flex justify-content-center pt-5">
			<div class="row justify-content-center card-container">
				<div class="col col-card col-sm-12 col-md-5 col-xl-3 col-download"><div class="card" >
<img src="..." class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<a href="#" class="btn btn-outline-info" onclick="return false">View</a>
</div>
</div>
</div>
		</div>
		</div>
		</section>
		</main>
		footer.display-flex.items-center.justify-center
			include ../components/_footer.pug
		include ../components/_scripts.pug
</body>
</html>