-var page_title = "Oh! no!!!"
include ./components/_mixins.pug
<!DOCTYPE html>
<html lang="en">
	head
		include ./components/_head.pug
		<meta name="robots" content="noindex,nofollow">
	body
		header.display-flex.width-100vw.place-center
			include ./components/_header.pug

	
		main.display-flex.justify-center.items-center
			.error-section.display-flex.flex-column.width-90vw.height-80vh.justify-center.items-center
				p.font-bold.text-size-5xl Oh no!!!
				p.text-size-3xl.font-bold.flip-xy.lineheight-400 404 Error
				p Don't worry, you can get back to a previous page by clicking on the menu
		

		footer.display-flex.items-center.justify-center.position-fixed.bottom-100.width-100vw
			include ./components/_footer.pug
		
			include ./components/_scripts.pug
</html>