-var page_title = "Oh! no!!!"
include ./components/_mixins.pug
<!DOCTYPE html>
<html lang="en">
	head
		include ./components/_head.pug
		<meta name="robots" content="noindex,nofollow">
		include ./components/_scripts.pug
		
	body
		header
			include ./components/_header.pug

		main
			section.error-section.flex.w-screen.justify-center.items-center(class="h-screen")
				.flex.flex-col.justify-center.items-center(class="w-5/6 h-8/12")
					p.font-bold.text-5xl Oh no!!!
					p.text-3xl.font-bold.py-4.flip 404 Error
					p Don't worry, you can get back to a previous page by clicking on the menu
			

		footer.flex.items-center.justify-center.fixed.bottom-0.w-screen.mb-16(class="md:mb-0")
			include ./components/_footer.pug
		
			
</html>