- var page_title = "César Cobos"
- var keywords="Cesar Cobos Civil Engineer"
- var nameDescription = "Hey! I'm César, I'm a Civil Engineer with knowledge in Project Management, Structural Design. Also i kwon about programming languages as Python, JS, C and Front-End development."

include ./components/_mixins.pug

doctype html
html(lang="en")
	head
		include ./components/_head.pug
		
	body
		
		header.display-flex.width-100vw.place-center
			include ./components/_header.pug
			div#particles-js
		include ./components/_hero.pug
		
		
		main.lineheight-200
			include ./components/_aboutme.pug
			include ./components/_whatido.pug
		footer.display-flex.items-center.justify-center.media-lg-height-144px.media-sm-height-300px
			include ./components/_footer.pug
	include ./components/_scripts.pug
	
</html>