include ./components/_mixins.pug

//- Page title and social 
- var page_title = "César Cobos"
//- social cards descriptions 
//- title on Google Search
-var search_title ="Cesar Valentin Cobos"
//- ogtitle = card title
- var ogtitle = "César Valentín Cobos"
//- nameDescription = card description
- var nameDescription = "Hey! I'm César, I'm a Civil Engineer with knowledge in Project Management, Structural Design. Also i kwon about programming languages as Python, JS, C and Front-End development."



doctype html
html(lang="en")
	head
		include ./components/_head.pug
		include ./components/_scripts.pug
		
	body
		header.flex.w-screen.place-center
			include ./components/_header.pug
		include ./components/_hero.pug
		script(src="../assets/js/main.js" type="text/javascript")
		
		
		main
			include ./components/_aboutme.pug
			include ./components/_portfolio.pug
			//- include ./components/_contact.pug
			//- include ./components/_form.pug
		footer.flex.items-center.justify-center(class="h-72 md:h-32")
			include ./components/_footer.pug
	
	