include ./components/_mixins.pug

//- Page title and social 
- var page_title = "César Cobos"
//- social cards descriptions 
//- title on Google Search
-var search_title ="Cesar Valentin Cobos"
//- ogtitle = card title
- var ogtitle = "César Valentín Cobos"
//- nameDescription = card description
- var nameDescription = "Hey! I'm César, I'm a Civil Engineer with knowledge in Project Management, Structural Design. Also i kwon about programming languages as Python, JS, C and Front-End development."
//- ogimage = image
-var ogimage ="https://drive.google.com/uc?export=view&id=1-GX8SRRG9c32qadDJ1zrPIa8DSNAOzoF"

doctype html
html(lang="en")
	head
		include ./components/_head.pug
		
	body
		header.display-flex.width-100vw.place-center
			include ./components/_header.pug
		include ./components/_hero.pug
		
		
		main
			include ./components/_aboutme.pug
			include ./components/_portfolio.pug
			include ./components/_contact.pug
		footer.display-flex.items-center.justify-center.media-lg-height-144px.media-sm-height-300px
			include ./components/_footer.pug
	include ./components/_scripts.pug
	