section.width-100vw.height-100.display-flex.margin-top-16.padding-y-6-index-2.position-relative
    .blog-container.display-flex.flex-column.height-90.width-100vw.place-center.items-center
        .blog-section.width-90vw.display-flex.justify-center.padding-y-12.index-2
            .blog-card.display-flex.width-100vw
                .blog-card-info
                    .blog-card-title.font-bold
                        p.font-bold.text-size-2xl What determines the completion of a project on time?
                    .blog-card-date.display-flex.justify-between.font-italic.width-90
                        p.text-size-small.padding-y-2 Write by César
                        p.text-size-small.padding-y-2 April 06 2022
                    .blog-tags.padding-bottom-6
                        p.text-size-small #ProjectManagement
                    .blog-card-resume
                        p The reputation of organizations is given by the quality and delivery of their products and/or services on time, but there are factors that can prevent it, anticipating it can be the difference between completing a project or successfully completing a project.
                    .blog-buttons.padding-y-6.display-flex.justify-end
                        span.blog-button
                            a.font-bold(href="https://www.linkedin.com/feed/update/urn:li:ugcPost:6917524115612459008?updateEntityUrn=urn%3Ali%3Afs_updateV2%3A%28urn%3Ali%3AugcPost%3A6917524115612459008%2CFEED_DETAIL%2CEMPTY%2CDEFAULT%2Cfalse%29" rel="noreferrer" target="_blank") Read in LinkedIn
                .blog-card-image.padding-4.image-terminacion-proyecto
                
        //- .grid-blog-container.display-grid.width-90vw.max-width-1300.justify-center.padding-top-12.padding-bottom-12
            //- .blog-card.display-flex.flex-column
            //-     .blog-card-image.padding-4.display-flex.flex-column.justify-center
            //-         .blog-card-title.font-bold
            //-             p Blog title
            //-         .blog-card-date.display-flex.justify-between.font-italic.width-90
            //-             p.text-size-small.padding-y-2 Write by
            //-             p.text-size-small Date
            //-     .blog-card-info
            //-         .blog-tags.padding-bottom-6
            //-             p.text-size-small Tags
            //-         .blog-card-resume
            //-             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quaerat modi tempore repellat unde rerum doloribus voluptas error, distinctio eum delectus alias culpa quidem, quo natus, cum facilis dicta dolorem!
            //-         .blog-buttons.padding-y-6.display-flex.justify-end
            //-             span.blog-button
            //-                 a.font-bold(href="..." rel="noreferrer" target="_blank" onClick="return false") Read button 