section.contact-section.width.100vw.max-width-1300-height-100.display-flex.flex-column.justify-center.items-center
    .contact-container.width-100.height-100-display-inherit.items-center
        p.text-size-2xl.padding-y-12 Let's get in touch 
        a.text-size-xl(href="mailto:info@cesar-cobos.com" target="_blank") info@cesar-cobos.com