.footer-container.width-100vw.display-flex.justify-center.items-center.max-width-1300.text-size-3xl.media-lg-flex-row.media-lg-justify-between.media-sm-flex-column.border-top-black
    .footer-container-right.display-flex.padding-y-6.padding-x-8.media-lg-margin-right-48
        a.padding-x-8(href="http://linkedin.com/in/cesarcoboscv", rel="noreferrer", target="_blank")
            span.fa-brands.fa-linkedin-in.transition-3s.tooltype
                +tooltip-text("Watch mi profile on LinkedIn","top")
        a.padding-x-8(href="http://twitter.com/cesarcoboscv", rel="noreferrer", target="_blank")
            span.fa-brands.fa-twitter.transition-3s.tooltype
                +tooltip-text("Follow me on Twitter","top")
        a.padding-x-8(href="http://github.com/cesarcobos", rel="noreferrer", target="_blank")
            span.fa-brands.fa-github.transition-3s.tooltype
                +tooltip-text("See my projects on Github","top")
    .footer-container-left.text-size-small.padding-x-8.media-lg-margin-left-48
        span Cesar Cobos 202?