.footer-container.width-100vw.display-flex.justify-center.items-center.max-width-1300.text-size-18
    .footer-container-right.display-flex.padding-y-24.padding-x-32
        a.padding-x-32(href="http://linkedin.com/in/cesarcoboscv", rel="noreferrer", target="_blank")
            span.fa-brands.fa-linkedin-in.transition-3s
        a.padding-x-32(href="http://twitter.com/cesarcoboscv", rel="noreferrer", target="_blank")
            span.fa-brands.fa-twitter.transition-3s
        a.padding-x-32(href="http://github.com/cesarcobos", rel="noreferrer", target="_blank")
            span.fa-brands.fa-github.transition-3s
    .footer-container-left.padding-x-32
        span Cesar Cobos 202?
        //- +icon("https://drive.google.com/uc?export=view&id=1oHDIvVewakJD6LmZKjBAItqlm7fx1cN-")