div.hero.items-center.background-light.width-100vw.height-100vh#hero
    
    div.hero-content.display-flex.items-center.height-100vh.items-center
        div.items-center
            //- p.print.accent-color.font-mono.font-thin print
            //-     span.light-text.font-thin (
            //-     span.accent-color-third '
            //- p.text-size-15.font-mono.light-text.font-thin Hi! I'm César
            .typing-container.text-uppercase.text-size-4xl.font-bolder.height-16
                .typeText.text-dark.font-bold#machine
            //- p.print.font-mono.margin-top-12px
            //-     span.accent-color-third '
            //-     span.light-text.font-thin )
            
