div.hero.items-center.background-light.width-100vw.height-100vh#hero
    div.hero-content.display-flex.items-center.height-100.items-center
        div.items-center
            .typing-container.text-uppercase.text-size-4xl.font-bolder.height-16
                .typeText.text-dark.font-bolder#machine