div.hero.items-center.flex.w-screen.justify-center.h-screen#hero
    div.hero-content.flex.items-center.h-ful.justify-between.max-w-6xl(class="w-5/6")
        .typing-container.uppercase.text-4xl.h-16
            .typeText.font-bold.tracking-widest(translate ="no")#machine
        .scroll-container.relative.z-20.text-4xl.hidden.items-center(class="w-15 md:flex hover:translate-y-2 ease-in-out duration-500")
            a.flex.items-center(href="#aboutme" rel="noreferrer") 
                i.fa-solid.fa-angles-down