mixin menuItem(link,name,class_1,class_2,class_3,tooltip)
    a.dark-text.transition-5s.accent-hover(href=link rel="noreferrer" class=class_1 class=class_2 class=class_3)=name
        .span=tooltip

mixin menuBar()
    <a href="javascript:void(0)" class="closebtn accent-hover" onClick="closeNav()">&times;</a>
    +menuItem("../#hero","Home","translate-hover-x-16", "margin-top-48")
    +menuItem("../#aboutme","About_me","translate-hover-x-16")
    +menuItem("../projects/","Projects","translate-hover-x-16")
    +menuItem("../resume/","Resume","translate-hover-x-16")
    +menuItem("../blog/","Blog","translate-hover-x-16")