mixin menuItem(link,name,class_1,class_2,class_3,tooltip)
    a.margin-x-16.dark-text(href=link rel="noreferrer" class=class_1 class=class_2 class=class_3)=name
        .span=tooltip

mixin menuBar()
    +menuItem("../#hero","Home")
    +menuItem("../#aboutme","About_me")
    +menuItem("../projects/","Projects")
    +menuItem("../resume/","Resume")
    +menuItem("../blog/","Blog")