section.portfolio-section.width-100vw.height-100.display-flex.justify-center.padding-y-12.margin-top-12.flex-column.items-center
    div.portfolio-containter.width-100vw.height-100.display-flex.items-center.flex-column.background-dark.margin-bottom-8
        p.text-size-4xl.light-text.padding-y-12 Portfolio
    div.portfolio-containter.width-100vw.height-100.max-width-1300.display-flex.items-center.flex-column
        div.portfolio-container-areas.width-70
            h2.padding-y-6 Engineering & Project Management
            ul.lineheight-200.margin-left-12.margin-bottom-8
                li Project Planning
                li Exahust air sistems
                li Structures Design
                li Mechanical Design
                li Geographic Information Systems
                li(translate="no") Indoor surveys

            h2.padding-y-6 Consultancies  
            ul.lineheight-200.margin-left-12.margin-bottom-8
                li Project Management
                li Engineering Software
                li CAD Drafting Classes

            h2(translate="no").padding-y-6 Cloud & FrontEnd
            ul.lineheight-200.margin-left-12.margin-bottom-8
                li Static Web dev
                li Bootstrap & Tailwind Frameworks
                li(translate="no") Google Cloud 
                li(translate="no") Firebase 

            h2.padding-y-6 Engineering Software
            ul.lineheight-200.margin-left-12.margin-bottom-8
                li AutoDESK AutoCAD Mechanical
                li AutoDESK Inventor
                li AutoDESK Revit 
                li SolidWorks 
                li Microsoft Project
                li Photoshop 
                li Illustrator 


            h2.padding-y-6 Programming
            ul.lineheight-200.margin-left-12.margin-bottom-8
                li(translate="no") Python
                li CSS 
                li HTML 
                li JavaScript
                li C 
                li AutoLISP 
                li MySQL 
                li PostgreSQL 
                li MongoDB 
                li Git
        div.padding-y-12.background-dark.width-100vw.display-flex.items-center.justify-center
            a.padding-y-12.accent-color(href="../projects/" onClick="return false")  See my projects