section.portfolio-section.w-screen.h-full.bg-stone-900.flex.justify-center.py-12
    div.portfolio-containter.w-screen.h-full.max-w-6xl.flex.items-center.flex-col.text-slate-100
        p.text-3xl.font-bold.pb-12 Portfolio
        p.py-12.text-xl.font-bold These are some areas where I can help you
        div.grid.text-2xl.place-center.py-12.font-thin(class="md:grid-cols-3 gap-12")
            div.portfolio-card
                p Engineering
            div.portfolio-card
                p Project Management
            div.portfolio-card
                p Consultancies
            div.portfolio-card
                p Front End Dev
            div.portfolio-card
                p Data Science
        a.text-red-400.py-12(href="../portfolio/" )  See more details