section.portfolio-section.width-100vw.height-100.background-dark.display-flex.justify-center.padding-y-12
    div.portfolio-containter.width-100vw.height-100.max-width-1300.display-flex.items-center.flex-column
        p.light-text.text-size-3xl.font-bold.padding-bottom-12 Portfolio
        p.light-text.padding-y-12.text-size-xl.font-bold These are some areas where I can help you
        div.display-grid.grid-portfolio.text-size-2xl.place-center.padding-y-12.font-thin
            div.portfolio-card
                p.light-text Engineering
            div.portfolio-card
                p.light-text Project Management
            div.portfolio-card
                p.light-text Consultancies
            div.portfolio-card
                p.light-text Front End Dev
            div.portfolio-card
                p.light-text Data Science
        a.light-text.padding-y-12.accent-color(href="http://" onClick="return false")  See more details