section.portfolio-section.flex.justify-center.flex-col.items-center(class="")
    div.w-screen.h-72.flex.items-center.bg-zinc-900.text-zinc-100.justify-center
        h2.pt-4.text-4xl Portfolio
    div.w-screen.h-full.max-w-6xl.flex.items-center.flex-col
        div(class="w-5/6 py-12")
            h2.py-6.font-bold.text-2xl Engineering & Project Management
            ul
                li.py-2 Project Planning
                li.py-2 Exahust air sistems
                li.py-2 Structures Design
                li.py-2 Mechanical Design
                li.py-2 Geographic Information Systems
                li.py-2(translate="no") Indoor surveys

            h2.py-6.font-bold.text-2xl Consultancies  
            ul
                li.py-2 Project Management
                li.py-2 Engineering Software
                li.py-2 CAD Drafting Classes

            h2(translate="no").py-6.font-bold.text-2xl Cloud & FrontEnd
            ul
                li.py-2 Static Web dev
                li.py-2 Bootstrap & Tailwind Frameworks
                li.py-2(translate="no") Google Cloud 
                li.py-2(translate="no") Firebase 

            h2.py-6.font-bold.text-2xl Engineering Software
            ul
                li.py-2 AutoDESK AutoCAD Mechanical
                li.py-2 AutoDESK Inventor
                li.py-2 AutoDESK Revit 
                li.py-2 SolidWorks 
                li.py-2 Microsoft Project
                li.py-2 Photoshop 
                li.py-2 Illustrator 


            h2.py-6.font-bold.text-2xl Programming
            ul
                li.py-2(translate="no") Python
                li.py-2 CSS 
                li.py-2 HTML 
                li.py-2 JavaScript
                li.py-2 C 
                li.py-2 AutoLISP 
                li.py-2 MySQL 
                li.py-2 PostgreSQL 
                li.py-2 MongoDB 
                li.py-2 Git
        div.py-12.w-screen.flex.items-center.justify-center.bg-zinc-900
            a.py-12.text-red-400(href="../projects/" onclick="return, false" )  See my projects