script(src="../assets/js/main.js" type="text/javascript")
script(src="../assets/js/particles.min.js" type="text/javascript") 
script(src="../assets/js/app.js" type="text/javascript")
script(src="https://kit.fontawesome.com/32dce108fb.js" crossorigin="anonymous")
//- link(rel="stylesheet", href="../assets/css/style.css")

link(rel="preload", href="../assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
noscript 
    link(rel="stylesheet" href="../assets/css/style.css")