+divider-title("What I do")

div.carrier.display-flex.justify-center.items-center.flex-column
    .div.max-width-1300.width-90vw
        p Besides my engineering 
            <span>experience</span>  I´m leading a new path to 
            <span>learn programming</span>, this has helped me to 
            <span>reduce times</span> and 
            <span>improve processes</span> below is a quick overeview of my technical skils.  Check out my resume for more details.</p>
    .div.max-width-1300.width-90vw.margin-y-16
        p.text-size-2xl Dev Tools
        p These are some tools and programming languages that I use.
    .grid-container.display-grid.width-90vw.max-width-1300.justify-center.padding-top-12.padding-bottom-12
        .card.padding-4
            .card-icons
                +icon("https://drive.google.com/uc?export=view&id=1WSBCEu3ikzugJVJdX9tat208aH2uCkWP", "Python Icon", "Python","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1k3Bo-937qIYHxVSkVJVOXEvs5ULAmwPT", "Linux Icon","Linux","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1-Q_EpO159sox9psDZHI84mSj5aerlTYt", "Ubuntu Icon","Ubuntu","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1P7TsOmeo188wQDbAmiFMiRst19Rr8kP_", "Google Colab Icon","Google Colab","bottom")
                +icon("https://drive.google.com/uc?export=view&id=128qWjYVgEdaTqLN7pM6RU4MjOwCCLgn-", "Deepnote Icon","Deepnote","bottom")
            .card-title
                p.font-bold Data Science
            .card-text.text-size-small.padding-y-6
                <span class="font-bold" >Python</span> has been a new and comforting way to re-learn to code
        .card.padding-4
            .card-icons
                +icon("https://drive.google.com/uc?export=view&id=1Vh1SIwhFwiSCOOb5MCTsa949X79T3kTl", "C Language Icon","C Language","bottom")
                //- +icon("https://drive.google.com/uc?export=view&id=", "AutoLISP Icon")
            .card-title
                p.font-bold Engineering and Lo Level Lenguages
            .card-text.text-size-small.padding-y-6
                p Low level languages are the roots of all programming        
        .card.padding-4
            .card-icons
                +icon("https://drive.google.com/uc?export=view&id=1fiRQdoiQNSmQGNyv8YhVCaCcQBWLP9Fr", "HTML 5 Icon","HTML","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1sCE9opP0dtTNdKlGHWJJSHjyUifLULtG", "CSS 3 Icon","CSS","bottom")
                +icon("https://drive.google.com/uc?export=view&id=17R07kHo3igxYyBaCbwM49eByvfFvNoAj", "JavaScript Icon","JavaScript","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1TdBjhyC661RMDDTnrGKxa9E8fvgGutjR", "Sass Icon","Sass","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1p2rnuEIx9x0uHoFcbAGjHUld6UtxA8rf", "Bootstrap Icon","Bootstrap","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1Sed5M9pki00_OjsYAX1Iq653MrbckbXm", "TailWindCSS Icon","Tailwind CSS","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1OUnPV_9Gxa--zXLjYtObU_2Lck4IMDs4", "Visual Studio Code Icon","Visual Studio Code","bottom")
            .card-title
                p.font-bold FrontEnd
            .card-text.text-size-small.padding-y-6
                p Well, you're watching my Front End Primary Project, this website 
        .card.padding-4
            .card-icons
                +icon("https://drive.google.com/uc?export=view&id=1oHDIvVewakJD6LmZKjBAItqlm7fx1cN-", "Google Icon","Google","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1dgcnPo_hlGFYg_P9D7uLTXPnONkSAraN", "Microsoft 365 Icon","Microsoft 365","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1tFMmlXYda5sFg6wQOOisRZnG9vgPZU18", "Microsoft Teams Icon","Teams","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1ZlK_o3RFsasVxpmggcJ6y6zZlExDz-CC", "Zoom Icon","Zoom","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1H7QCquWA9ymT_Roc77MFhiq3KisNpLTU", "OneDrive Icon","OneDrive","bottom")
                +icon("https://drive.google.com/uc?export=view&id=10EqJYaz0WVb17_VceW4kKwLXLeUFhxGf", "Google Drive Icon","G Drive","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1AgyMhNZen_gSj3jzNHC_okaLsMODz-45", "Google Docs Icon","G Docs","bottom")
                +icon("https://drive.google.com/uc?export=view&id=15EKqLzLzPcKZxDxwWFKNJO1yVL8_om16", "DropBox Icon","DropBox","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1wBOdV5cqvTMFvLgTYtTNpLV4wtBD22qx", "Slack Icon","Slack","bottom")
            .card-title
                p.font-bold Colaborative Work
            .card-text.text-size-small.padding-y-6
                
    
    

    .div.max-width-1300.width-90vw.margin-y-16
        p.text-size-2xl.padding-y-6 Engineering tools
        p These are some tools and programming languages that I use.
    .grid-container.display-grid.width-90vw.max-width-1300.justify-center.padding-top-12.padding-bottom-12
        .card.padding-4
            .card-icons
                +icon("https://drive.google.com/uc?export=view&id=1W22upnb3BY0-QIn2TUBTFC-7Y44N5aO6", "AutoCAD Icon","AutoCAD","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1zL1jlRoqzln7iB_SYEwW1TNt2JVcRRwi", "Inventor Icon","Inventor","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1qwZbFpQRwLA7-8Ujm20BSaaNSBbLw9sV", "Revit Icon","Revit","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1oQocKv1MWezeMU6ECi8CVLO7vRWc-Dkz", "SolidWorks Icon","SolidWorks","bottom")
            .card-title
                p.font-bold Engineering Software
            .card-text.text-size-small.padding-y-6
                p Several years' experience using 
                    <span>Autodesk</span> Products: 
                    <span>Inventor</span>, 
                    <span>AutoCAD</span>, 
                    <span>AutoCAD Map3D</span>, 
                    <span>AutoCAD Mechanical</span>, 
                    <span>Revit</span></p>
        .card.padding-4
            .card-icons
                +icon("https://drive.google.com/uc?export=view&id=1dgcnPo_hlGFYg_P9D7uLTXPnONkSAraN", "Microsoft 365 Icon","Microsoft 365","bottom")
                +icon("https://drive.google.com/uc?export=view&id=13gboXLsLLLJM-y6IPoWoXYtWLc2BVR7M", "VISIO Icon","VISIO","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1U9VgXMtXBJIbqtOOvCJkzeskfVzsSqwb", "Project Icon","Project","bottom")
            .card-title
                p.font-bold Microsoft Products
            .card-text.text-size-small.padding-y-6
                p Advance knowledge on 
                    <span>Microsoft 365</span> Product
        .card.padding-4
            .card-icons
                +icon("https://drive.google.com/uc?export=view&id=1Qa4E26b3VN0Bav_HZujjGdSXQTpKhaE_","Photoshop Icon","Photoshop","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1k0ufripom9X6CgmrSaqv7NJvRi8cmbxK", "Illustrator Icon","Illustrator","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1XewZ9TkdKyC-1h7yJhdtkpQT8UF8giuO", "Adobe XD Icon","Adobe XD","bottom")
                +icon("https://drive.google.com/uc?export=view&id=1U6lZ6q0v-Alk2EigoBtlyPVhZktdBVPm", "Corel Icon","Corel Draw","bottom")
            .card-title
                p.font-bold Design
            .card-text.text-size-small.padding-y-6
                p Knowledge in 
                    <span>Adobe</span> products: 
                    <span> Photoshop </span> , 
                    <span>Illustrator</span>. and 
                    <span>Corel Draw</span> skills</p>

