.tooltip > .tooltip-inner {
  padding: 4px 8px;
  font-style: italic;
  border-radius: 8px;
  opacity: 0.7;
}




html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
html a {
  text-decoration: none;
}

.divider {
  width: 100%;
  height: 75px;
}



.blog {
  height: auto;
  margin-top: 150px;
}

.article-entry {
  border-radius: 24px;
  letter-spacing: 0.4px;
  line-height: 150%;
  color: #2b4649;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}
.article-entry:hover {
  -webkit-box-shadow: 0px 2px 10px rgba(180, 180, 180, 0.5);
          box-shadow: 0px 2px 10px rgba(180, 180, 180, 0.5);
}
.article-entry .date {
  font-weight: 500;
}
.article-entry .theme {
  font-family: "IBM Plex Mono", monospace;
}
.article-entry img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
.article-entry .btn-read {
  color: #2b4649;
  font-weight: 600;
}
.article-entry .btn-read:hover {
  color: #144f80;
}
.article-entry .btn-read:hover .bi {
  color: #144f80;
  margin-left: 5px;
}
.article-entry .btn-read:focus {
  color: #2b4649;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.article-entry .btn-read:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.modal {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.modal .modal-dialog .modal-content {
  border-radius: 16px;
}
.modal .modal-dialog .modal-content .modal-body .body-content {
  width: 95%;
}

.aboutme {
  width: 100%;
  height: auto;
  margin: 24px 0px;
}
.aboutme .aboutme-container .btn {
  letter-spacing: 1.2px;
  border-radius: 8px;
  width: 120px;
  

}
.aboutme .aboutme-container .btn-secondary {
  color: #144f80;
  background-color: #144f80;
  border: #144f80;
  -webkit-transition: 1s;
  transition: 1s;

}
.aboutme .aboutme-container .btn-secondary svg path {
  color: white;
}
.aboutme .aboutme-container .btn-secondary span {
  color: white;
}
.aboutme .aboutme-container .btn-secondary:hover {
  background-color: transparent;
  color: #144f80;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 1px solid #144f80;
}
.aboutme .aboutme-container .btn-secondary:hover svg path {
  color: #144f80;
}
.aboutme .aboutme-container .btn-secondary:hover span {
  color: #144f80;
}
.aboutme .aboutme-container .btn-secondary:focus {
  -webkit-box-shadow: 0px 0px 5px #144f80;
          box-shadow: 0px 0px 5px #144f80;
}
.aboutme .aboutme-container .btn-outline-secondary {
  color: #144f80;
  border: 1px solid #144f80;
  -webkit-transition: 1s;
  transition: 1s;
}
.aboutme .aboutme-container .btn-outline-secondary span {
  color: #144f80;
}
.aboutme .aboutme-container .btn-outline-secondary svg path {
  color: #144f80;
}
.aboutme .aboutme-container .btn-outline-secondary:hover {
  color: white;
  background-color: #144f80;
  border: 1px solid #144f80;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.aboutme .aboutme-container .btn-outline-secondary:hover svg path {
  color: white;
}
.aboutme .aboutme-container .btn-outline-secondary:hover span {
  color: white;
}
.aboutme .aboutme-container .btn-outline-secondary:focus {
  -webkit-box-shadow: 0px 0px 5px #144f80;
          box-shadow: 0px 0px 5px #144f80;
}

span {
  font-weight: 600;
}
.aboutme-description{
  z-index: 2;
}
.aboutme-description, .whatido, .card-container {
  letter-spacing: 0.5px;
}
.aboutme-description .profile-photo, .whatido .profile-photo, .card-container .profile-photo {
  width: 250px;
  height: auto;
}

.card-container {
  padding: 25px 0px;
}

.col-image {
  margin: 25px 0px;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}
.col-image img {
  width: 100px;
}

.card-title {
  font-weight: 600;
}

.col-card {
  margin: 13px 0px;
}
.col-card .card {
  border-radius: 12px;
  padding: 10px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 0.9rem;
}
.col-card .card:hover {
  -webkit-box-shadow: 0px 0px 5px rgba(73, 73, 73, 0.2);
          box-shadow: 0px 0px 5px rgba(73, 73, 73, 0.2);
  background-color: white;
}
.col-card .icons {
  display: inline-block;
  margin: 5px 5px;
  -webkit-filter: saturate(80%);
          filter: saturate(80%);
}
.col-card .icons img {
  margin: 3px 3px;
  width: 35px;
  height: 35px;
}

.row {
  width: 90vw;
  max-width: 1200px;
}
.row-social {
  padding: 25px 0px;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 1.03em;
  }
}
.portfolio-section {
  min-height: 100vh;
  margin-top: 150px;
}

.portfolio-hero {
  background-color: #f6f6f6a2;
}
.portfolio-hero .fs-1 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.portfolio-hero .fs-3 {
  margin-bottom: 30px;
}
.portfolio-hero .row-hero {
  width: 80%;
  max-width: 1200px;
}

.col-hero {
  width: 80%;
  max-width: 1200px;
  height: 180px;
}

.accordion-container {
  margin: 40px 0px;
  width: 80%;
  max-width: 1200px;
}
.accordion-container .accordion-item {
  border: none !important;
  margin: 20px 0px;
}
.accordion-container .accordion-item .accordion-button {
  height: 60px;
  padding: 0px 25px;
  background-color: #f6f6f6a2 !important;
  border-radius: 15px !important;
  border: 1px solid rgba(73, 73, 73, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.accordion-container .accordion-item .accordion-button:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(73, 73, 73, 0.2);
          box-shadow: 0px 0px 15px rgba(73, 73, 73, 0.2);
}
.accordion-container .accordion-item .accordion-button:focus {
  -webkit-box-shadow: 0px 0px 3px rgba(73, 73, 73, 0.5);
          box-shadow: 0px 0px 3px rgba(73, 73, 73, 0.5);
}

.sheet {
  border-radius: 24px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  max-width: 1200px;
  letter-spacing: 1px;
  position: relative;
  top:24px;
}

.mobile-mode {
  color: gray;
  position: absolute;
  height: 50px;
}

.resume-name {
  background-color: black;
  border-radius: 20px 20px 0px 0px;
  letter-spacing: 2px;
}

.resume-contact a:hover, .resume-contact span:hover {
  color: #f6f6f6a2;
}
.resume-contact a:hover path, .resume-contact span:hover path {
  color: #f6f6f6a2;
}
.resume-contact svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.social a .px-1 {
  display: none;
}
.social a:hover span, .social a:hover svg path {
  color: #144f80;
}

.resume-certificates {
  margin-top: 25px;
}
.resume-certificates .certified {
  margin: 10px 0px;
}
.resume-certificates a {
  text-decoration: none;
  color: black;
}
.resume-certificates a:hover {
  color: #144f80;
}

.resume-social svg {
  width: 35px;
  height: 35px;
}
.resume-social a:hover {
  color: #144f80;
}

@media screen and (min-width: 992px) {
  .mobile-mode {
    display: none;
  }

  .resume-name {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 24px 0px 0px 0px;
  }
  .resume-name .name {
    -webkit-transform: rotatez(180deg);
            transform: rotatez(180deg);
    height: 587px;
  }
  .resume-name .name .fs-6 {
    border-right: 1px solid #f6f6f6a2;
    padding: 0px 10px !important;
  }

  .resume-jobs {
    margin-top: 50px !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .resume-contact {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    color: white;
    background-color: black;
    border-radius: 0px 0px 0px 24px;
  }
  .resume-contact a, .resume-contact span, .resume-contact p {
    color: white;
  }
  .resume-contact a svg path, .resume-contact span svg path, .resume-contact p svg path {
    color: white;
  }

  .resume-skill {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .resume-skill .hobbies img {
    width: 70px;
    height: 70px;
  }

  .resume-social a .px-1 {
    display: inline-block;
  }
}
footer {
  width: 100%;
  min-height: 80px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: transparent;
}
footer p {
  color: #2b4649;
}
footer .btn-outline-primary {
  width: 40px;
  height: 40px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  margin: 0px 8px;
}
footer .btn-outline-primary svg path {
  color: #2b4649;
}
footer .btn-outline-primary:hover {
  background-color: transparent;
}
footer .btn-outline-primary:hover svg path {
  color: #144f80;
}

.error-section {
  height: 70vh;
}
.error-section .errorerror {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}