:root {
  --dark-color:black;
  --light-color:white;
  --dark-text-color:#1d1e1f;
  --shadow-text-color:gray;
  --light-text-color:white;
  --accent-color:#DEFF8B;
  --accent-color-second:#9365DB;
  --accent-color-third: #FF5151;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  color: var(--dark-color);
  font-family: "Spartan", sans-serif;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-inherit {
  display: inherit;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.width-100vw {
  width: 100vw;
}

.width-90vw {
  width: 90vw;
}

.max-width-1300 {
  max-width: 1200px;
}

.height-64 {
  height: 64px;
}

.width-64 {
  width: 64px;
}

.height-100vh {
  height: 100vh;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.index-over {
  z-index: 3;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place-center {
  place-content: center;
}

.margin-x-16 {
  margin: 0 16px;
}

.margin-y-64 {
  margin: 64px 0;
}

.margin-y-24 {
  margin: 24px 0;
}

.margin-top-48 {
  margin-top: 48px;
}

.padding-x-4 {
  padding: 0 4px;
}

.padding-x-32 {
  padding: 0 32px;
}

.overflow-hidden {
  overflow: hidden;
}

.padding-y-24 {
  padding: 24px 0;
}

.transition-5s {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.transition-3s {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.translate-hover-x-32:hover {
  -webkit-transform: translateX(32px);
          transform: translateX(32px);
}

.accent-hover:hover {
  color: var(--accent-color);
}

.accent-hover-third:hover {
  color: var(--accent-color-third);
}

.dark-text {
  color: var(--dark-text-color);
}

.light-text {
  color: var(--light-text-color);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-size-3xl {
  font-size: 3rem;
}

.text-size-15 {
  font-size: 1.5rem;
}

.text-size-12 {
  font-size: 1.2rem;
}

.text-size-18 {
  font-size: 1.8rem;
}

.text-size-small {
  font-size: 0.9rem;
}

.font-bold {
  font-weight: 600;
}

.font-italic {
  font-style: italic;
}

.font-thin {
  font-weight: 100;
}

.font-mono {
  font-family: "IBM Plex Mono", monospace;
}

.lineheight-200 {
  line-height: 200%;
}

.background-light {
  background-color: var(--light-color);
}

.background-dark {
  background-color: var(--dark-color);
}

.accent-color {
  color: var(--accent-color);
}

.accent-color-second {
  color: var(--accent-color-second);
}

.accent-color-third {
  color: var(--accent-color-third);
}

.shadow-color {
  color: var(--shadow-text-color);
}

.background-transparent {
  background-color: transparent;
}

.border-top-black {
  border-top: 1px solid black;
}

.button {
  border-radius: 12px;
  border: 1px solid gray;
  margin: 24px;
  padding: 8px 16px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.hover-background-dark:hover {
  background-color: var(--dark-color);
}

.button-border:hover a span, .button-border:hover a i {
  color: white;
}

.button-solid a span, .button-solid a i {
  color: white;
}
.button-solid:hover {
  background-color: transparent;
}
.button-solid:hover a span, .button-solid:hover a i {
  color: var(--dark-color);
}

.aboutme-photo {
  min-width: 300px;
  height: 220px;
}

#particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.footer-container-right span:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.typing-container {
  margin: 96px 0 128px 0;
}

.side-nav {
  width: 0;
  left: 0;
  padding-top: 64px;
}

.side-nav a {
  padding: 16px 48px;
}

.menu-icon .random {
  display: none;
}
.menu-icon:hover .fa-bars {
  display: none;
}
.menu-icon:hover .random {
  display: block;
}

.hero-content {
  margin-left: 16vw;
  width: 80vw;
  letter-spacing: 2px;
}

@media screen and (max-height: 468px) {
  .side-nav {
    padding-top: 15px;
  }

  .side-nav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .media-sm-flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .media-sm-bottom-24px {
    bottom: 24px;
  }

  .media-sm-height-300px {
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .media-lg-max-width-850px {
    max-width: 850px;
  }

  .media-lg-display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .media-lg-flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .media-lg-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .media-lg-flex-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .nav-bar {
    -webkit-transform: translateY(calc(-100vh + 64px));
            transform: translateY(calc(-100vh + 64px));
  }

  .media-lg-top-0 {
    top: 0;
  }

  .media-lg-left-180px {
    left: 180px;
  }

  media-lg-left-144px {
    height: 144px;
  }

  .media-lg-justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .media-lg-margin-left-48 {
    margin-left: 48px;
  }

  .media-lg-margin-right-48 {
    margin-right: 48px;
  }
}
.tooltype {
  position: relative;
}

.tooltype-text {
  visibility: hidden;
  background-color: rgba(31, 31, 31, 0.65);
  width: auto;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltype .tooltype-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: -5px;
  border-style: solid;
  border-color: transparent transparent rgba(31, 31, 31, 0.65) transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltype:hover .tooltype-text {
  visibility: visible;
  opacity: 1;
}