:root{
    --dark-color:#1d1e1f;
    --light-color:white;
    --dark-text-color:#1d1e1f;
    --shadow-text-color:gray;
    --light-text-color:white;
    --accent-color:#DEFF8B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    color: var(--dark-color);
    font-family: "Spartan", sans-serif;
}

// Dipslay options
.display-flex{
    display:flex;
}
.display-inherit{
    display: inherit;
}
.display-none{
    display: none;
}

// size options
.width-100vw{
    width: 100vw;
}
.max-width-1300{
    max-width: 1300px;
}
.height-64{
    height: 64px;
}

// align options
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.place-center{
    place-content: center;
}
// margin  options
.margin-x-16{
    margin: 0 16px;
}
.margin-top-48{
    margin-top: 48px;
}
.padding-x-32{
    padding: 0 32px;
}

// animation & transform options
.transition-5s{
    transition: .5s ease-in-out;
}
.translate-hover-x-16{
    &:hover{
        transform: translateX(16px);
    }
}

.accent-hover {
    &:hover{
    color: var(--accent-color);
  }
}

// text options
.dark-text{
    color:var(--dark-text-color)
}


// General

.nav-bar{
    z-index: 3;
    position: fixed;
    bottom: 0;
    background-color: var(--light-color);
}

#particles-js{
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 0;
  }
  .typeText{
    color: var(--accent-color);
  }
  .typing-container{
    height: 30px;
    font-size: 3rem;
    font-weight: 600;
    margin: 96px 0 128px 0;
    text-transform: uppercase;
  }


/* The side navigation menu */
.side-nav {

    height: 100vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--dark-color); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the side-nav */
  }
  
  /* The navigation menu links */
  .side-nav a {
    padding: 16px 48px;
    font-size: 1.6rem;
    color: var(--shadow-text-color);
    display: block;
    
  }

  .nav-container-left{
      span{
        padding: 20px 20px;
        background-image: url("https://drive.google.com/uc?export=view&id=1fkF8A_vgwkkEYWdzg3Wo7_fLmQdtbMbW");
        background-size: 36px;
        background-position: center;
        background-repeat: no-repeat;

        &:hover{
            background-image: url("https://drive.google.com/uc?export=view&id=1Nw88_1uY7Z2WLtTfwXYKuOEn8YDZHuSe");
            
        }
      }
  }
  /* When you mouse over the navigation links, change their color */

  
  /* Position and style the close button (top right corner) */
  .side-nav .closebtn {
    position: absolute;
    bottom: 50px;
    left: -50px;
    font-size: 3rem;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the side-nav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
  }



// displau size options
@media screen and (min-width:768px) {
    .menu-items{
        display:flex;
        flex-direction: column;
    }
    .nav-bar{
        transform: translateY(calc(-100vh + 64px)); 
    }
    .side-nav .closebtn {
        top: 0;
        left: 175px;
      }
}